
__pycache__/logic.cpython-37.pyc
__pycache__/drawing.cpython-37.pyc
__pycache__/ui.cpython-37.pyc
sample/Thumbs.db
__pycache__/dfconvert.cpython-37.pyc
gui/Thumbs.db
__pycache__/loadsave.cpython-37.pyc
